/* .dayButton {
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background-color: blue;
} */

.goals {
  margin-bottom: 3vw;
  font-size: 2vw;
  display: flex;
  align-items: center;
  position: relative;
}

.goal-text {
  font-family: Graphik;
  display: inline-block;
  width: 15vw;
  text-align: left;
}

.container-days-mobile {
  display: none;
}

.delete-btn {
  position: absolute;
  left: -2.2vw;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-image: url("/images/minus.png");
  background-size: 1.3vw 1.3vw;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #868585;
}

@media (max-width: 600px) {

.goals {
  width: 100%;
  position: relative;
  margin-top: 5vw;
  height: 21vw;
  display: flex;
  justify-content: space-between;
}

.container-days-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  margin-top: -8px;
  width: 100%;
}

.day {
  font-size: 2vw;
  width: 10vw;
  text-align: center;
  margin: 0;
}

.day-buttons {
  flex-direction: row;
  margin: 0;
  align-self: flex-end;
}

.goal-text {
  width: 80vw;
  display: block;
  position: absolute;
  font-size: 4vw;
  align-self: flex-start;
}

.delete-btn {
  position: absolute;
  left: -2.2vw;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-image: url("/images/minus.png");
  background-size: 2.5vw 2.5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #868585;
}

}
