body {
}

.container-form-days {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.container-form {
  width: 16.8vw;
  height: 5vw;
  margin-top: 10vw;
  margin-bottom: 0vw;
  display: inline-block;
  margin-left: -1.8vw;
}

.container-days {
  display: flex;
  flex-direction: row;
}

.day {
  margin-left: 1.5vw;
  width: 6vw;
  height: auto;
  text-align: center;
  font-size: 1.5vw;
}

button {
  border: none;
  font-size: 2vw;
  width: 12%;
  margin: 0;
  background-color: transparent;
  padding: 0;
  text-align: left;
}

input {
  border: none;
  border-bottom: 0.15vw solid black;
  outline: none;
  font-size: 1.5vw;
  width: 87%;
  background-color: transparent;
}

form {
  height: auto;
}

@media (max-width: 600px) {

.container-form-days {
  flex-direction: column;
  position: relative;
}

.container-form {
  display: block;
  width: 100%;
  margin-bottom: 3vw;
}

.container-days {
  display: none;
}

.day {
    font-size: 3vw;
}
button {
  font-size: 5vw;
  width: 5%;
}

input {
  font-size: 5vw;
  width: 100%;
  text-align: left;
  border-bottom: 0.4vw solid black;
  position: absolute;
  left: 0vw;
}

.add-goal {
  position: absolute;
  left: -4vw;
}

}
