body {
}

.container-form {
  width: 25vw;
  height: 10vw;
}

button {
  border: none;
  font-size: 2vw;
  width: 12%;
  margin: 0;
  background-color: transparent;
}

input {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 2vw;
  width: 87%;
  background-color: transparent;
}

form {
  height: auto;
}
