.dayButton0 {
  display: inline-block;
  border-radius: 50%;
  margin-left: 1.5vw;
  width: 6vw;
  height: 6vw;
  border: 0.15vw solid black;
  background-color: yellow;
}

.dayButton1 {
  display: inline-block;
  border-radius: 50%;
  margin-left: 1.5vw;
  width: 6vw;
  height: 6vw;
  border: 0.15vw solid black;
  background-color: red;
}

.dayButton2 {
  display: inline-block;
  border-radius: 50%;
  margin-left: 1.5vw;
  width: 6vw;
  height: 6vw;
  border: 0.15vw solid black;
  background-color: green;
}
