.dayButton0 {
  display: inline-block;
  border-radius: 50%;
  margin-left: 1.5vw;
  width: 6vw;
  height: 6vw;
  border: 0.2vw solid black;
}

.dayButton1 {
  background-image: url("/images/cross.png");
  background-size: 2.5vw 2.5vw;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  margin-left: 1.5vw;
  width: 6vw;
  height: 6vw;
  border: 0.2vw solid black;
}

.dayButton2 {
  background-image: url("/images/check.png");
  background-size: 3.5vw 3.5vw;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  margin-left: 1.2vw;
  width: 6vw;
  height: 6vw;
  border: 0.2vw solid black;
  background-color: #0def0e;
}

button {
  outline: none;
  cursor: pointer;
}

.dayButton0:hover, .dayButton1:hover, .dayButton2:hover  {
  box-shadow: 4px -4px black;
}

@media (max-width: 600px) {

  .dayButton0, .dayButton1, .dayButton2 {
    width: 10vw;
    height: 10vw;
    margin:0;
    border: 0.4vw solid black;
  }

  .dayButton1 {
    background-size: 4vw 4vw;
  }

  .dayButton2 {
    background-size: 5.2vw 5.2vw;
  }

}
