.dayButton0 {
  display: inline-block;
  border-radius: 50%;
  margin-left: 1.5vw;
  width: 6vw;
  height: 6vw;
  border: 0.15vw solid black;
}

.dayButton1 {
  background-image: url("/images/cross.png");
  background-size: 3.2vw 3.2vw;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  margin-left: 1.5vw;
  width: 6vw;
  height: 6vw;
  border: 0.15vw solid black;
  background-color: lightgrey;
}

.dayButton2 {
  background-image: url("/images/check.png");
  background-size: 4.4vw 4.4vw;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  margin-left: 1.5vw;
  width: 6vw;
  height: 6vw;
  border: 0.15vw solid black;
  background-color: #3a7d3a;
}

button {
  outline: none;
}

@media (max-width: 600px) {

  .dayButton0, .dayButton1, .dayButton2 {
    width: 10vw;
    height: 10vw;
    margin:0;
    border: 0.4vw solid black;
  }

}
