@font-face {
  font-family: Graphik;
  src: url(Graphik-Regular.otf);
}

* {
  margin: 0;
}
.header-container {
  font-family: Graphik, Helvetica, sans-serif;
  width: 100%;
  background-color: lightgrey;
  font-size: 4vw;
  padding: 3vw;
}
