@font-face {
  font-family: Graphik;
  src: url(Graphik-Regular.otf);
}

* {
  margin: 0;
}
.header-container {
  font-family: Graphik, Helvetica, sans-serif;
  width: 100%;
  height: 10vw;
  background-color: red;
  font-size: 6vw;
}
