@font-face {
  font-family: Graphik;
  src: url(Graphik-Regular.otf);
}

* {
  margin: 0;
}
.header-container {
  font-family: Graphik, Helvetica, sans-serif;
  width: 100%;
  font-size: 3.5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.header-day {
  font-size: 1.5vw;
  display: inline-block;
}

.header-week {
  display: inline-block;
}

@media (max-width: 600px) {

.header-container {
    font-size: 6.5vw;
}

.header-day {
  font-size: 3vw;
}

}
