
* {
  margin: 0;
}
.header-container {
  font-family: Graphik, Helvetica, sans-serif;
  width: 100%;
  font-size: 3.5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
}

img {
  width: 60px;
  height: 60px;
  margin-left: -10px;
}

.date-heading-container {
  flex-direction: row;
}

.header-day {
  font-size: 1.5vw;
  display: inline-block;
  align-self: flex-end;
  margin-top: 8px;
}

.header-week {
  display: inline-block;
  margin-top: 8px;
}

@media (max-width: 600px) {

.header-container {
    font-size: 6.5vw;
}

.header-day {
  font-size: 3vw;
}

}
